.contenedor-cities {
    background-image: url(https://www.xtrafondos.com/wallpapers/muelle-at-atardecer-en-lago-5766.jpg);
    background-position: center;
    background-size: cover;
    margin-bottom: -1rem;
    padding-bottom: 1rem;
    min-height: 91.7vh;
}

.img-cities1 {
    border-radius:1rem 1rem 0rem 0rem;
}

.input {
    text-align: center;
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.623);
    color: white;
}

.buscador {
    padding-top: 10rem;
}