.contenedor-cities {
    background-image: url(https://www.xtrafondos.com/wallpapers/muelle-at-atardecer-en-lago-5766.jpg);
    background-position: center;
    background-size: cover;
    margin-bottom: -1rem;
    padding-bottom: 1rem;
    min-height: 90vh;
}

.input {
    text-align: center;
    margin-bottom: 2rem;
    border-radius: 1rem;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
}

.img-cities1 {
    border-radius:1rem 1rem 0rem 0rem;
}