.details-contenedor {
    background-image: url(https://www.xtrafondos.com/wallpapers/cabana-rodeada-de-palmas-y-montana-9545.jpg);
    min-height: 90vh;
    background-size: cover;
    display: flex;
    justify-content:center ;
    align-items: center;
    
}