.contenedor-details{
    background-image: url(https://www.xtrafondos.com/wallpapers/cabana-rodeada-de-palmas-y-montana-9545.jpg);
    background-color: #0000002f;
    background-blend-mode: darken;
    min-height: 92vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.details-contenedor {
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 3rem;
    width: 56rem;
}
@media (max-width: 900px){
    .details-contenedor{
        width: 50rem;
    }
}
@media (max-width: 800px){
    .details-contenedor{
        width: 43rem;
    }
}
@media (max-width: 700px){
    .details-contenedor{
        width: 36rem;
    }
}
@media (max-width: 580px){
    .details-contenedor{
        width: 30rem;
    }
}
@media (max-width: 480px){
    .details-contenedor{
        width: 25rem;
    }
}
@media (max-width: 400px){
    .details-contenedor{
        width: 19rem;
    }
}

.card-details {
    width: 100%!important;
}
