.contenedor-details{
    background-image: url(https://www.xtrafondos.com/wallpapers/muelle-at-atardecer-en-lago-5766.jpg);
    background-color: #0000002f;
    background-blend-mode: darken;
    background-position: center;
    min-height: 92vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.details-contenedor {
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 3rem;
    width: 56rem;
    text-align: center;
}

@media (max-width: 900px){
    .details-contenedor{
        width: 50rem;
    }
}
@media (max-width: 800px){
    .details-contenedor{
        width: 43rem;
    }
}
@media (max-width: 700px){
    .details-contenedor{
        width: 36rem;
    }
}
@media (max-width: 580px){
    .details-contenedor{
        width: 30rem;
    }
}
@media (max-width: 480px){
    .details-contenedor{
        width: 25rem;
    }
}
@media (max-width: 400px){
    .details-contenedor{
        width: 19rem;
    }
}
@media (max-width: 900px){
    .card-details{
        width: 50rem;
    }
}
@media (max-width: 800px){
    .card-details{
        width: 43rem;
    }
}
@media (max-width: 700px){
    .card-details{
        width: 36rem;
    }
}
@media (max-width: 580px){
    .card-details{
        width: 30rem;
    }
}
@media (max-width: 480px){
    .card-details{
        width: 25rem;
    }
}
@media (max-width: 400px){
    .card-details{
        width: 19rem;
    }
}

.card-details {
    height: 30rem;
    width: 90rem;
}

.img-activity {
    height: 12rem;
    width: 17rem!important;
    object-fit: cover;
}


@media (min-width: 941px) {
    .card-content{
        display: flex;
    }
}

