@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Mina&family=Ramabhadra&family=Righteous&display=swap');

.LinkRouter {
    font-family: 'Bree Serif', serif;
font-family: 'Mina', sans-serif;
font-family: 'Ramabhadra', sans-serif;
font-family: 'Righteous', cursive;
}