.logo {
    width: 10rem;
    padding: 1.5rem;
}

a {
    text-decoration: none !important;
    color: white;
    transition: .3s;
}

a:hover{
    color: #ffc107!important;
    transition: .5s;
}



.NavBar {
    min-height: 10vh;
    background-color: rgba(0, 0, 0, 0.301)!important;
}

.MuiPaper-root {
    background-color: rgba(0, 0, 0, 0.301)!important;
}
.MuiMenuItem-root {
    background-color: transparent!important;
}
