.logo {
    width: 10rem;
    padding: 1.5rem;
}

a {
    text-decoration: none !important;
    color: white;
    transition: .5s;
}

a:hover{
    color: #ffc107!important;
    transition: .5s;
}

.MuiList-root{
    background-color: black;
}