@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.navegador {
    font-family: 'Righteous', cursive !important;
}

.logo-principal {
    width: 8rem;
    height: 3rem;
    margin-top: 10rem;
    transform: translateX(5rem);
    position: absolute;
}
.imagenprincipal {
    background-image: url(../images/playa.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #0000002f;
    background-blend-mode: darken;
}

.Body-img {
    height: 100vh;
}

.titulo-centro {
    color: white;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    transform: translateY(10rem);
    -webkit-text-stroke: 1px #000000;
}
.titulo-centro2 {
    color: rgb(0, 0, 0);
    font-size: 4rem;
    display: flex;
    justify-content: center;
    transform: translateY(10rem);
    -webkit-text-stroke: .5px #ffc107;
}
.Tinerary {
    color: #ffc107;
}

@media (min-width:960px) {
    .titulo-centro {
        z-index: 1;
    }
}

.texto-body {
    color: white;
    font-size: 2.3rem;
    display: flex;
    justify-content: center;
    transform: translateY(28rem);
    -webkit-text-stroke: 1px black;
    text-align: center;
}

@media (max-width:1084px) {
    .texto-body {
        z-index: 1;
        text-align: center;
    }
}

.imagenDos {
    background-image: url(../images/img-home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #0000001f;
    z-index: 1;
    background-blend-mode: darken
}
.Body-img2 {
    height: 100vh;
}
/* Boton llamativo */
.boton-llamativo {
    color: white;
    font-size: 2.3rem;
    display: flex;
    justify-content: center;
    transform: translateY(33rem);
    -webkit-text-stroke: 1px black;
    text-align: center;
}

.boton-lindo {
    width: 10rem;
    height: 4rem;
}

.boton-lindo:hover {
    background-color: white;
    color: black;
}

