.Container {
    width: 100%;
    height: 70px;
    background-color: #23394d;
}

.Wrapper {
    width: 100%;
    max-width: 1300px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto
}

.LogoContainer {
    margin-left: 0.5rem;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-family: sans-serif
}
.Menu {
    height: 100%;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.MenuItem {
    height: 100%
}

.MenuItemLink {
    display: flex;
    justify-content: center;
    align-items:center;
    height: 100%;
    padding: 0.5rem 2.5rem;
    color: #64b2ff;
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 300;
    cursor: pointer;
    transition: 0.5s all ease;
}

.MenuItemLink:hover {
    color: #fff;
        background-color: #e0792a;
        transition: 0.5s all ease;
}